* {
  font-family: "Raleway", sans-serif;
}
body {
  background-color: rgb(60, 60, 60);
}
ul {
  padding: 0;
}
/* !!!!! NAVBAR/HEADER ON ALL HTML FILES !!!!! */
.logo {
  z-index: 99;
  min-width: 100px;
  min-height: 100px;
}
nav {
  background-color: rgb(20, 20, 20);
  display: flex;
  width: 100%;
}
.navbar-nav {
  margin-right: 20px;
}
#navbarNavDropdown {
  margin-left: auto;
  flex-direction: row-reverse;
}
.nav-link {
  color: white;
}
.dropdown-menu.show {
  background-color: rgb(20, 20, 20);
}
.dropdown-item {
  color: white;
}
nav li {
  display: inline;
  font-size: 18px;
  margin: 20px;
}
nav li a {
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(61, 174, 72);
  text-decoration: underline;
}
.navbar-toggler-icon {
  width: 1em;
  height: 1.5em;
}
/* !!!!! FOOTER ON ALL HTML FILES !!!!! */
footer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(20, 20, 20);
}
footer div {
  margin: auto;
  display: flex;
}
.midfoot {
  flex-direction: column;
  max-width: 50%;
}
.leftfoot,
.rightfoot {
  max-width: 25%;
}
footer h2,
footer p {
  color: white;
  margin: 10px auto;
  font-size: 1rem;
}
footer p a {
  font-size: 10px;
  color: white;
  text-decoration: none;
}
footer h2 {
  margin-top: 30px;
}
.sociallogo {
  margin-right: 30px;
}
/* !!!!! SHOWCASE SECTION !!!!! */
.pagetop {
  margin-top: 30px;
}
.showcase {
  max-width: 1700px;
  width: 90%;
  margin: auto;
}
.promo {
  border: solid;
  border-color: black;
  border-width: 1px;
  display: inline-flex;
  flex-direction: rows;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}
.promo img {
  max-width: 500px;
  max-height: 500px;
  width: 33%;
  margin: auto;
  padding: 16px;
}
.deal {
  font-size: 2.5rem;
  margin: auto;
  width: 33%;
  color: white;
  padding: 0 20px 30px;
}
/* !!!!! SHOP & CART SECTIONS (TOP) !!!!! */
.top {
  display: flex;
  width: 94%;
  margin: auto;
  margin-top: 30px;
}
.top h1 {
  color: white;
  margin-bottom: 30px;
}
.cartAdd,
.cartRemove {
  width: 30px;
  height: auto;
  margin: 14px;
  text-align: center;
  font-size: rem;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}
.cartAdd:hover {
  background-color: rgba(138, 247, 123, 0.6);
}
.cartRemove:hover {
  background-color: rgba(90, 90, 90, 0.6);
}
/* !!!!! SHOP SECTION (LEFT) !!!!! */
.tabs {
  width: 100%;
  height: 100%;
  list-style: none;
  display: inline-flex;
  margin: auto;
}
.tabs li {
  margin: auto;
  padding: 0;
}
.tabs li a {
  text-decoration: none;
  color: white;
}
.tabs li a:hover {
  text-decoration: underline;
}
.store {
  display: flex;
  margin: auto;
  flex-direction: column;
}
.shopnav {
  width: 100%;
  height: 60px;
  margin: auto;
  background-color: rgb(30, 30, 30);
  border: solid;
  border-color: black;
  border-width: 1px;
}
.left {
  width: 70%;
  padding-right: 1%;
}
.topHeaders {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  font-style: none;
}
.storeItems {
  display: flex;
  margin: auto;
  background-color: rgb(56, 56, 56);
  border: solid;
  border-color: black;
  border-width: 1px;
  border-top: none;
}
.storeItems ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0.4%;
  max-width: 234px;
  align-items: center;
  border: solid;
  border-color: rgb(40, 40, 40);
  border-width: 1px;
  background-color: rgb(66, 66, 66);
}
.product img {
  max-width: 200px;
  max-height: 200px;
}
.itemTag {
  color: white;
  text-align: center;
  margin-top: 14px;
}
.itemTag h2 {
  font-size: 1rem;
}
/* !!!!! CART SECTION (RIGHT) !!!!! */
.right {
  width: 30%;
}
.table {
  text-align: center;
  align-items: center;
  margin: auto;
  --bs-table-hover-color: #ffffff;
  --bs-table-hover-bg: rgba(138, 247, 123, 0.03);
}
.tableDarker {
  color: white;
  border-color: black;
}
.tableHead {
  background: rgb(30, 30, 30);
  border-color: black;
  border-width: 1px;
  text-align: center;
}
td {
  padding: 20px;
}
h4 {
  font-size: 1rem;
  margin-top: 10px;
}
.cartItemImg {
  max-width: 100px;
}
.itemQty {
  width: 44px;
  margin-top: 10px;
}
.cartfoot {
  display: flex;
  color: white;
}
.checkout {
  margin: auto;
  display: flex;
  align-items: center;
}
.checkoutBtn {
  padding: 4px;
  font-weight: bold;
  margin: auto;
}
.checkoutBtn:hover {
  color: rgb(36, 146, 47);
}
.subtotal {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* !!!!! MEDIA SCREEN SIZING SECTION !!!!! */
/* Media Query for 1200px */
@media (max-width: 1200px) {
  .deal {
    font-size: 2rem;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1024px) {
  .promo {
    flex-direction: column;
  }
  .promo img {
    width: 50%;
  }
  .deal {
    font-size: 3rem;
    width: 70%;
  }
  .top {
    flex-direction: column;
  }
  .top h1 {
    text-align: center;
  }
  .topHeaders h1 {
    margin: auto;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
  }
  .left {
    width: 100%;
    margin: auto;
  }
  .right {
    width: 50%;
    margin: auto;
    padding-top: 30px;
  }
  .midfoot {
    max-width: 20%;
  }
  footer h2,
  footer p {
    font-size: 0.7rem;
  }
  footer p a {
    font-size: 8px;
  }
  .cartfoot {
    flex-direction: column;
  }
  .checkout {
    margin-top: 20px;
  }
  .subtotal {
    min-width: 80px;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 767px) {
  .deal {
    font-size: 2.4rem;
  }
  .promo {
    border: none;
  }
  .promo img {
    min-height: 300px;
    min-width: 300px;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .leftfoot {
    display: none;
  }
  .rightfoot {
    margin: 10px auto;
  }
  .rightfoot,
  .midfoot {
    width: 100%;
    min-width: 200px;
    display: flex;
    margin: auto;
  }
  .sociallogo {
    margin: auto;
  }
  .right {
    width: 86%;
    margin: auto;
    padding-top: 30px;
  }
  .col-1 {
    width: 100%;
  }
  .subtotal h4 {
    font-size: 0.8rem;
  }
}
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .deal {
    font-size: 2rem;
  }
}
/* Media Query for Fold */
@media (max-width: 290px) {
  .promo img {
    min-height: 200px;
    min-width: 200px;
  }
  .deal {
    font-size: 1.4rem;
    margin-top: 10px;
  }
  .top {
    margin: 0 3%;
  }
  .right {
    width: 100%;
  }
  .cartItemImg {
    max-width: 90px;
    max-height: 90px;
  }
  .col-10 {
    width: 60%;
  }
}
