* {
  font-family: "Raleway", sans-serif;
}
body {
  background-color: rgb(60, 60, 60);
}
ul {
  padding: 0;
}
/* !!!!! NAVBAR/HEADER ON ALL HTML FILES !!!!! */
.navigation {
  background-color: rgb(20, 20, 20);
  display: inline-flex;
  width: 100%;
}
.logo {
  padding-left: 20px;
}
nav {
  width: 100%;
  display: flex;
}
.topnav {
  color: white;
  list-style: none;
  display: inline-flex;
  padding: 0;
  padding-right: 20px;
  margin: auto;
  margin-right: 0;
}
.topnav li {
  margin: auto 20px;
  min-width: 48px;
}
.topnav li a {
  color: white;
  text-decoration: none;
}
.topnav li a:hover {
  color: rgb(61, 174, 72);
  text-decoration: underline;
}
/* !!!!! FOOTER ON ALL HTML FILES !!!!! */
footer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(20, 20, 20);
}
footer div {
  margin: auto;
  display: flex;
}
.midfoot {
  flex-direction: column;
}
footer h2,
footer p {
  color: white;
  margin: 10px auto;
  font-size: 1rem;
}
footer p a {
  font-size: 10px;
  color: white;
  text-decoration: none;
}
footer h2 {
  margin-top: 30px;
}

.sociallogo {
  margin-right: 30px;
}
/* !!!!! SHOWCASE SECTION !!!!! */
.pagetop {
  margin-top: 30px;
}
.showcase {
  border: solid;
  border-color: black;
  border-width: 1px;
  max-width: 1700px;
  width: 90%;
  height: 560px;
  margin: auto;
}
.promo {
  display: inline-flex;
  flex-direction: rows;
  width: 100%;
  height: 100%;
  margin: auto;
  max-height: 560px;
  text-align: center;
}
.promo img {
  max-width: 500px;
  max-height: 500px;
  width: 33%;
  margin: auto;
  padding: 0 16px;
}
.deal {
  font-size: 3rem;
  margin: auto;
  width: 33%;
  color: black;
  padding: 0 20px 30px
}
/* !!!!! SHOP & CART SECTIONS (TOP) !!!!! */
.top {
  display: flex;
  width: 94%;
  margin: auto;
  margin-top: 30px;
}
.top h1 {
  color: white;
  margin-bottom: 30px;
}
.cartAdd,
.cartRemove {
  width: 30px;
  height: auto;
  margin: 14px;
  text-align: center;
  font-size: rem;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}
.cartAdd:hover {
  background-color: rgba(138, 247, 123, 0.6);
}
.cartRemove:hover {
  background-color: rgba(90, 90, 90, 0.6);
}
/* !!!!! SHOP SECTION (LEFT) !!!!! */
.tabs {
  width: 100%;
  height: 100%;
  list-style: none;
  display: inline-flex;
  margin: auto;
}
.tabs li {
  margin: auto;
  padding: 0;
}
.store {
  display: flex;
  margin: auto;
  flex-direction: column;
}
.shopnav {
  width: 100%;
  height: 60px;
  margin: auto;
  background-color: rgb(30, 30, 30);
  border: solid;
  border-color: black;
  border-width: 1px;
}
.left {
  width: 70%;
  padding-right: 1%;
}
.leftHead {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  font-style: none;
}
.storeItems {
  display: flex;
  margin: auto;
  background-color: rgb(56, 56, 56);
  border: solid;
  border-color: black;
  border-width: 1px;
  border-top: none;
}
.storeItems ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0.4%;
  max-width: 234px;
  align-items: center;
  border: solid;
  border-color: rgb(40, 40, 40);
  border-width: 1px;
  background-color: rgb(66, 66, 66);
}
.product img {
  max-width: 200px;
  max-height: 200px;
}
.itemTag {
  color: white;
  text-align: center;
  margin-top: 14px;
}
.itemTag h2 {
  font-size: 1rem;
}
/* !!!!! CART SECTION (RIGHT) !!!!! */
.right {
  width: 30%;
}
.table {
  text-align: center;
  align-items: center;
  margin: auto;
  --bs-table-hover-color: #ffffff;
  --bs-table-hover-bg: rgba(138, 247, 123, 0.03);
}
.tableDarker {
  color: white;
  border-color: black;
}
.tableHead {
  background: rgb(30, 30, 30);
  border-color: black;
  border-width: 1px;
  text-align: center;
}
td {
  padding: 20px;
}
h4 {
  font-size: 1rem;
  margin-top: 10px;
}
.cartItemImg {
  max-width: 100px;
}
.itemQty {
  width: 44px;
  margin-top: 10px;
}
.cartfoot {
  display: flex;
  color: white;
}
.subtotal {
  margin-top: 10px;
  margin-left: auto;
  text-align: center;
}
/* !!!!! NEXT !!!!! */
